.sidebar {
  position: absolute;
  top: 64px;
  right: 0px;
  min-width: 320px;
  box-sizing: border-box;
  padding: 16px;
  height: calc(100% - 64px);
  background-color: white;
  border: 1px solid green;

  &__categories {
    padding: 4px;
  }

  &__highlight-entry-list {
    margin-top: 8px;
  }

  &__highlight-entry {
    position: relative;
    padding: 8px;
    background-color: rgba(255, 255, 0, 0.459);
    border: 1px solid black;

    &--capitalise {
      text-transform: capitalize;
    }

    &__del {
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 2px;
    }
  }
}