.edit-category {
  margin-top: 8px;
  &__category {
    display: flex;
    flex-direction: row;
  }

  &__codes {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
  }

  &__label {
    width: 64px;
  }
}