.fyp-color-btn {
  cursor: pointer;
  border: 0px;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color-btn-pink {
  background-color: #F7CCD7;
}

.color-btn-orange {
  background-color: #FADF80;
}

.color-btn-yellow {
  background-color: #FEFB8B;
}

.color-btn-green {
  background-color: #DAFE79;
}

.color-btn-blue {
  background-color: #C4FDEC;
}