.category-modal {
  position: absolute;
  top: 64px;
  right: 100%;
  // max-height: 700px;
  width: 400px;
  padding: 16px;
  background-color: white;
  border: 1px solid black;
  z-index: 9999;

  &__title {
    font-weight: bold;
    font-size: larger;
    text-align: center;
  }

  &__add-new-form {
    margin: 8px 0px;

    &__header {
      font-weight: bold;
    }

    &__input {
      margin: 4px 0px;
    }

    &__buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__add-new {
    padding: 2px;
  }

  &__category-list-header {
    font-weight: bold;
    margin-top: 4px;
  }

  &__category-list {
    max-height: 400px;
    overflow-y: scroll;
  }

  &__category-entry {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8px 0px;
    background-color: yellow;

    &__del {
      position: absolute;
      top: 4px;
      right: 4px;
    }
  }
}