.fyp-highlight {
  cursor: pointer !important;
  position: static !important;
}

.fyp-highlight--pink {
  background-color: #ff9ab3;
}

.fyp-highlight--orange {
  background-color: #fada66;
}

.fyp-highlight--yellow {
  background-color: #fffa67;
}

.fyp-highlight--green {
  background-color: #d2fa63;
}

.fyp-highlight--blue {
  background-color: #8affdc;
}